/*container and scoreboard*/

.scoreboard {
    top: 35%;
    left: 50%;
    position: absolute;
}

.containerCounter {
    border: 1px solid;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*style input*/

.red {
    background-color: red;
    color: black;
}

/*inputs*/

.inputGroup{
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 20px;
    left: 40%;
    top: 38%;
}

.inputMax {
    /*position: absolute;*/
    /*top: 30%;*/
    /*left: 60%;*/
    border: 3px solid #0a44ff;
}

.inputStart {
    /*position: absolute;*/
    /*top: 26%;*/
    /*left: 60%;*/
    border: 3px solid #0a44ff;
}

/*buttons*/

.buttonSet {
    position: absolute;
    left: 50%;
    top: 47%;
}

.buttonsGroup{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 30%;
    left: 46%;
}